@charset "utf-8";
html,body,dd,dl,fieldset,form,h1,h2,h3,h4,h5,h6,input,legend,ol,p,select,td,textarea,th,ul,li,figure{margin:0;padding:0;}
h1,h2,h3,h4,h5,h6{font-size:16px;font-weight:100;}
body{font-family:"微软雅黑";}
ul,ol,li{list-style:none;}
a,u{text-decoration: none;}
a{color: #333;}
i,em{font-style:normal;}
b,strong{font-weight:100;}
img{display:block;border:0;}
.clearfix:after{content:".";clear:both;display:block;height:0;overflow:hidden;visibility: hidden;}
.clearfix{zoom:1;}



/*移动端禁止用户缩放屏幕*/
/*<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />*/



/*移动端布局@media设定html{font-size:;}*/
/*@media all and (max-width:320px){
    html{
        font-size:12px;
    }
}
@media all and (min-width:321px) and (max-width:375px){
    html{
        font-size:14px;
    }
}
@media all and (min-width:376px){
    html{
        font-size:16px;
    }
}
*/



/*移动端vw+rem布局*/
/*width:640px
html{
	font-size:31.25vw;
}*/

/*width:750px;
html{
	font-size: 26.67vw;
}*/